body {
}

#cards-container {
  display: flex;
  border: 1px solid black;
}
.card {
  border: 1px solid black;
  padding: 40px;
}
#c1 {
}
#c2 {
}
#c3 {
}

@media screen and (max-width: 900px) {
  #cards-container {
    flex-direction: column;
  }
}
